.endstop-container {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	
	.timeline {
		position: relative;
		
	   .html-interval {
			position: absolute;
			display: inline-block;
	   }
		
	  .interval {
	  	background-color: steelblue;
	  	padding-top: 1px;
	  	padding-bottom: 1px;
	  }
	  
	  .start {
	  	background-color: orange;
	  	//padding-top: 1px;
	  //	padding-bottom: 1px;
	  	border-radius: 5px;
	  	width: 6px;
	  	height: 6px;
	  }
	}	
}