.overview-screen {
	display: flex;
	height: 100%;
	
	.side-list {
		width: 30%;
		height: 100%;
		min-width: 250px;
		overflow-y: scroll;
		
		.accordion {
			.accordion-heading {
				.accordion-toggle {
					width: 100%;
					display: inline-block;
					padding: 5px 15px;
					font-size: 20px;
					border-bottom: 1px solid lightgrey;
					
					text-decoration: none;
					
					&:hover {
					    background: #ddd;
					}
				}
			}
			
			.accordion-body {
				.accordion-inner {
					padding: 0px 15px;
				}
			}	
		}	
	}

	.details-view {
		width: 80%;
		
		.map-view {
			width: 100%;
			height: 100%;
			
			.leaflet-popup {
				.leaflet-popup-close-button {
					display: none;
				}	
				
				.popup-title {
					font-weight: 600;
				}
			}
			
			
		}
		
		.endstop-details {
			#power-chart {
				height: 200px;
			}
		
			height: 350px;
			position: relative;
			top: -350px;
			background: white;
			
			.stats {
				padding-left: 20px;
			}
		}
	}
}