
<div class="parameters">
	<div class="column">
		<div class="control">
			<label>Battery capacity, kWh</label>
			<div class="wrapper">
				<div id="capacity-slider"></div>
			</div>
			<label id="capacity"></label>
		</div>
		<div class="control">
			<label>Energy consumption, kWh/km</label>
			<div class="wrapper">
				<div id="consumption-slider"></div>
			</div>
			<label id="consumption"></label>
		</div>

	</div>
	<div class="column">
		<div class="control">
			<label>Charging power, kW</label>
			<div class="wrapper">
				<div id="charging-power-slider"></div>
			</div>
			<label id="charging-power"></label>
		</div>
		<div class="control">
			<label class="">Total traveled distance, km</label>

			<div class="wrapper">
				<div id="total-distance-slider"></div>
			</div>
			<label id="total-distance"></label>
		</div>

	</div>

	<div class="column">
		<div class="control">
			<label>Charging interval, km</label>
			<div class="wrapper">
				<div id="charging-interval-slider"></div>
			</div>
			<label id="charging-interval"></label>
		</div>

		<div class="control">
			<label>Charging time (mean, standard deviation)</label>
			<div class="input-group">
				<input id="charging-time" class="form-control"
					placeholder="Enter the duration of charging in seconds" type="text" />
				<span class="input-group-addon">sec</span> <input
					id="charging-time-std" class="form-control" placeholder="Std"
					type="text" /> <span class="input-group-addon">sec</span>
			</div>
		</div>
	</div>

	<div class="column">
		<div class="control runbutton">
			<button type="button" class="btn btn-primary">Run simulation</button>
			<span class="glyphicon"></span>
		</div>
	</div>
</div>
<div id="chartdiv" class="chartdiv"></div>