<form class="form-horizontal route-criteria-form">
	<fieldset>
<!-- 		<legend>Specify routes to be electrified</legend> -->
<!-- 		<div class="form-group"> -->
<!-- 			<label for="maxLength" class="col-lg-3 control-label">Maximum -->
<!-- 				length</label> -->
<!-- 			<div class="col-lg-6 input-group"> -->
<!-- 				<input id="maxLength" type="text" class="form-control" -->
<!-- 					placeholder="e.g. 15000" /> <span class="input-group-addon" -->
<!-- 					id="basic-addon2">meters</span> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div class="form-group"> -->
<!-- 			<label for="minDepartures" class="col-lg-3 control-label">Minimum -->
<!-- 				departures</label> -->
<!-- 			<div class="col-lg-6 input-group"> -->
<!-- 				<input id="minDepartures" type="text" class="form-control" -->
<!-- 					placeholder="e.g. 10" /> <span class="input-group-addon" -->
<!-- 					id="basic-addon3">departures a day</span> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
		<legend>Constraints and goals</legend>
		<div class="form-group">
			<label for="budget" class="col-lg-3 control-label">Budget cap</label>
			<div class="col-lg-6 input-group">
				<input id="budget" type="text" class="form-control"
					placeholder="e.g. 60000000" /> <span class="input-group-addon"
					id="basic-addon2">EUR</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="co2reduction" class="col-lg-3 control-label">CO2 reduction</label>
			<div class="col-lg-6 input-group">
				<input id="co2reduction" type="text" class="form-control"
					placeholder="e.g. 4000" /> <span class="input-group-addon"
					id="basic-addon3">tonnes per day</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="completion" class="col-lg-3 control-label">Completion year</label>
			<div class="col-lg-6 input-group">
				<input id="completion" type="text" class="form-control"
					placeholder="e.g. 2020" /> 
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-8 col-lg-offset-3">
				<button type="submit" class="btn btn-primary submit">Submit</button>
			</div>
		</div>
	</fieldset>
</form>